.coop-list {
  @include flex-setting(row, space-between, flex-start);
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  list-style: none;

  width: 100%;

  margin-bottom: 40px;

  &__item {
    width: 48%;
    height: 224px;

    @include flex-setting(row, space-between, flex-start);

    padding-top: 25px;
    padding-right: 23px;
    padding-bottom: 25px;
    padding-left: 50px;

    &:hover {
      .coop-list__wrap {
        background-image: linear-gradient(180deg, #2abbeb 0%, #97ddf5 100%);
        transition: 0.1s ease-in;
      }

      .coop-list__info-link {
        color: #ffffff;
        background-color: $coop-link;
        transition: 0.2s ease-in;
      }
    }
  }

  &__wrap {
    @include flex-setting(column, center, center);
    width: 176px;
    height: 176px;

    background-image: linear-gradient(180deg, #aae2f6 0%, #eaf0f3 100%);

    border-radius: 50%;
  }

  &__info {
    @include flex-setting(column, flex-start, flex-start);

    width: 50%;
    height: 100%;

    &-title {
      @include font-setting($secondary-font, 1em, 1.2, 700, $text-dark);

      text-transform: uppercase;
      text-align: left;

      margin-top: 0;
      margin-bottom: 11px;
    }

    &-description {
      @include font-setting($primary-font, 0.913em, 1.5em, 400, $text-dark);
      text-align: left;

      margin: 0;
    }

    &-link {
      @include flex-setting(column, center, center);
      @include font-setting($secondary-font, 1em, 1.2, 400, $coop-link);

      margin-top: auto;
      margin-bottom: 0;

      text-decoration: none;

      border: 1px solid #1cb6ea;

      width: 128px;
      height: 24px;
    }
  }
}
