.footer-subscribe {
  width: 100%;

  @include flex-setting(column, flex-start, flex-start);

  &__title {
    @include font-setting($secondary-font, 0.75rem, 1.2, 700, $text-secondary);

    margin-top: 0;
    margin-bottom: 0.5rem;

    max-width: 300px;
  }
}

@media only screen and (min-width: 360px) {
  .footer-subscribe {
    &__title {
      margin-bottom: 0.625rem;
    }
  }
}


@media only screen and (min-width: 1024px) {
  .footer-subscribe {
    width: auto;

    &__title {
      font-size: 400;
      font-size: 0.75rem;
      margin-bottom: 1rem;

      max-width: 355px;
    }
  }
}
