.footer-nav {
  width: 100%;

  @include flex-setting(column, flex-start, flex-start);

  margin-bottom: 1.25rem;

  &__subscribe {
    order: 2;
  }

  &__contacts {
    order: 1;
  }
}

@media only screen and (min-width: 360px) {
  .footer-nav {
    margin-bottom: 1.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .footer-nav {
    flex-direction: row;
    margin-bottom: 1.875rem;

    &__subscribe {
      order: 1;
    }

    &__contacts {
      order: 2;
    }
  }
}
