html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px !important;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

body {
  background-color: #ffffff;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;

  min-height: 100vh;
  overflow-x: hidden;
  position: relative;

  color: #000000;
  font-family: $primary-font;

  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.section {
  width: 100vw;
  height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}
