.main-clients {
  width: 100%;

  padding-top: 0.625rem;
  padding-bottom: 1rem;

  background-color: #DAF3FB;

  transition: 0.1s ease-in;

  &__wrapper {
    width: 100%;
    @include flex-setting(column, flex-start, center);
  }

  &__title {
    @include font-setting($secondary-font, 1rem, 1, 400, rgba(4, 25, 32, 0.5));
    text-transform: uppercase;
    text-align: center;

    margin: 0;
    margin-bottom: 0.813rem;
  }
}

@media only screen and (min-width: 360px) {
  .main-clients {
    padding-top: 1rem;
    padding-bottom: 1rem;

    &__title {
      font-size: 1.125rem;
      margin-bottom: 1rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  .main-clients {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1.563rem;

    transition: 0.1s ease-in;

    &__title {
      font-size: 1.125rem;
      margin-bottom: 0.875rem;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .main-clients {
    padding-top: 1.5rem;
    padding-bottom: 3.75rem;

    &__wrapper {
      @include container;
    }

    &__title {
      font-size: 1.5rem;
      margin-bottom: 1.375rem;
    }
  }
}
