.main-coop {
  width: 100%;
  @include flex-setting(column, flex-start, center);

  padding-top: 1.25rem;
  padding-bottom: 1rem;

  &__title {
    @include font-setting($secondary-font, 1rem, 1, 400, rgba(4, 25, 32, 0.5));
    text-transform: uppercase;
    text-align: center;

    margin: 0;
    margin-bottom: 0.813rem;
  }
}

@media only screen and (min-width: 360px) {
  .main-coop {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;

    &__title {
      font-size: 1.125rem;
      margin-bottom: 1rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  .main-coop {
    padding-top: 1.563rem;
    padding-bottom: 1.563rem;

    max-width: 688px;

    &__title {
      margin-bottom: 0.75rem;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .main-coop {
    max-width: 980px;

    padding-top: 3.563rem;
    padding-bottom: 3.563rem;

    &--page {
      margin-bottom: 6rem;
    }

    &__title {
      font-size: 1.5rem;
      @include font-setting($secondary-font, 1.5rem, 1, 400, rgba(4, 25, 32, 0.5));
      margin-bottom: 0.963rem;
    }
  }
}
