.main-news {
  width: 100%;
  height: auto;

  padding-top: 1.25rem;
  padding-bottom: 3.375rem;

  @include flex-setting(column, flex-start, center);

  background-color: #fff;
  transition: 0.1s ease-in;

  &__wrapper {
    width: 100%;

    padding-left: 1.25rem;
    padding-right: 1.25rem;

    @include flex-setting(column, flex-start, center);
  }

  &__title {
    @include font-setting($secondary-font, 1em, 1, 400, rgba(4, 25, 32, 0.5));
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 0.813rem;
    margin-top: 0;
  }

  &__link {
    @include flex-setting(column, center, center);
    @include font-setting($secondary-font, 1rem, 1, 400, $coop-link);

    background-color: transparent;

    text-decoration: none;
    text-align: center;

    border: 2px solid #1cb6ea;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(28, 182, 234, 0.301347);

    width: 192px;
    height: 32px;

    &:hover {
      border: none;
      color: #ffffff;
      background-color: $coop-link;
      transition: 0.2s ease-in;
    }
  }
}

@media only screen and (min-width: 360px) {
  .main-news {
    padding-top: 1.375rem;
    padding-bottom: 3.375rem;

    background-color: #fff;
    transition: 0.1s ease-in;

    &__title {
      font-size: 1.125rem;
      margin-bottom: 1rem;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .main-news {
    padding-top: 1rem;
    padding-bottom: 1.875rem;

    background-color: #F8F8F8;

    &__wrapper {
      padding: 0;
      max-width: 688px;
    }

    &__title {
      font-size: 1.125rem;
      margin-bottom: 1.625rem;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .main-news {
    padding-top: 1.875rem;
    padding-bottom: 2.5rem;

    transition: 0.1s ease-in;

    &__wrapper {
      padding: 0;
      max-width: 980px;
    }

    &__title {
      font-size: 1.5rem;
      margin-bottom: 1.625rem;
    }

    &__link {
      width: 144px;
      height: 32px;
    }
  }
}
