.nav-submenu {
  display: none;
  border: none;
  visibility: hidden;
  opacity: 0;
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
  transition: .1s ease-in;

  list-style: none;
  margin: 0;
  padding: 0;

  width: 100%;
  margin-top: 0.625rem;

  background-color: rgba(219, 221, 222, 0.95);

  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  &__item {
    @include flex-setting(column, center, center);

    position: relative;
    width: 100%;
    height: auto;
    background-color: transparent;

    padding-left: 1.25rem;
    padding-top: 0.313rem;
    padding-bottom: 0.313rem;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      text-decoration-color: #fff;
      transition: 0.1s ease-in;
    }

    &:hover > .nav-sublist,
    &:active > .nav-sublist {
      transform: rotateX(0deg);
      visibility: visible;
      opacity: 1;
      @include flex-setting(column, flex-start, center);
      margin-bottom: -0.75rem;
      margin-top: 0.25rem;
    }
  }

  &__link {
    @include font-setting($secondary-font, 0.875rem, 1, 400, $text-primary);
    @include flex-setting(column, center, flex-start);

    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 0 0 3px #cccccc;

    padding-left: 2.5rem;

    width: 100%;
    height: 100%;

    cursor: pointer;
    outline: none;

    &:hover {
      color: #1CB6EA;
      text-decoration: none;
    }
  }

  &__pic {
    position: absolute;
    right: 2rem;
    top: 0.5rem;
    transform: scale(1);
    transition: 0.1s ease-in;
  }
}

@media only screen and (min-width: 768px) {
  .nav-submenu {
    margin-top: 2.25rem;

    background-color: rgba(219, 221, 222, 0.95);

    padding-top: 1.25rem;
    padding-bottom: 1.25rem;

    &__item {
      padding-left: 5rem;
      padding-top: 1.75rem;
      padding-bottom: 1.75rem;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        text-decoration: underline;
        text-decoration-color: #fff;

        transition: 0.1s ease-in;
      }
    }

    &__link {
      font-size: 1rem;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .nav-submenu {
    position: absolute;
    display: block;

    top: 35px;
    left: 0;
    z-index: 5;
    width: auto;

    margin: 0;

    background-color: transparent;

    &__item {
      align-items: flex-start;

      width: 186px;
      height: 40px;
      border-radius: 4px;

      padding: 0;

      margin-bottom: 0.313rem;

      border-bottom: none;

      background-color: rgba(166, 221, 239, 0.8);

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        text-decoration: none;
        transition: 0.1s ease-in;

        background-color: #1CB6EA;
      }

      &.hover > .nav-sublist {
        transform: rotateX(0deg);
        visibility: visible;
        opacity: 1;
        @include flex-setting(column, flex-start, center);
        margin-bottom: -0.75rem;
      }
    }

    &__link {
      color: $text-secondary;
      font-size: 0.875rem;
      align-items: flex-start;

      padding-left: 1.25rem;
    }

    &__pic {
      display: none;
    }
  }
}
