.nav-sublist {
  display: none;
  border: none;
  visibility: hidden;
  opacity: 0;
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
  transition: .1s ease-in;

  list-style: none;
  margin: 0;
  padding: 0;

  width: 100%;
  margin-top: 0.625rem;

  background-color: transparent;

  margin-top: 0.75rem;
  padding-bottom: 0.75rem;

  &__item {
    @include flex-setting(column, center, center);

    position: relative;
    width: 100%;
    height: auto;
    background-color: transparent;

    padding-left: 1.25rem;
    padding-top: 0.313rem;
    padding-bottom: 0.313rem;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      text-decoration-color: #fff;

      transition: 0.1s ease-in;
    }
  }

  &__link {
    @include font-setting($secondary-font, 0.75rem, 1, 400, $text-primary);
    @include flex-setting(column, center, flex-start);

    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 0 0 3px #cccccc;

    padding-left: 2.5rem;

    width: 100%;
    height: 100%;

    cursor: pointer;
    outline: none;

    &:hover {
      color: #1CB6EA;
      text-decoration: none;
    }
  }
}

@media only screen and (min-width: 768px) {
  .nav-sublist {
    margin-top: 2.25rem;

    background-color: rgba(219, 221, 222, 0.95);

    padding-top: 1.25rem;
    padding-bottom: 1.25rem;

    &__item {
      padding-left: 5rem;
      padding-top: 1.75rem;
      padding-bottom: 1.75rem;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        text-decoration: underline;
        text-decoration-color: #fff;

        transition: 0.1s ease-in;
      }
    }

    &__link {
      font-size: 1rem;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .nav-sublist {
    position: absolute;
    display: block;

    top: -24px;
    left: 101%;
    z-index: 5;
    width: auto;

    margin: 0;

    background-color: transparent;

    &__item {
      align-items: flex-start;

      width: 186px;
      height: 40px;

      padding: 0;
      border-bottom: 1px solid #fff;
      background-color: rgba(28, 182, 234, 0.35);

      &:hover {
        text-decoration: none;
        transition: 0.1s ease-in;

        background-color: rgba(28, 182, 234, 0.65);
      }
    }

    &__link {
      color: $text-secondary;
      font-size: 0.875rem;
      align-items: flex-start;

      padding-left: 1.25rem;

      &:hover,
      &:active,
      &:focus {
        color: #fff;
      }
    }
  }
}
