.nav-list {
  @include flex-setting(column, flex-start, center);

  position: absolute;

  top: 40px;
  left: -100%;

  padding: 0;
  margin: 0;
  list-style: none;

  width: 100%;
  min-height: 100vh;
  background-color: rgba(219, 221, 222, 1);

  padding-bottom: 1.25rem;
  transition: 0.1s ease-in;

  &.active {
    left: 0;
    transition: 0.1s ease-in;
  }

  &__item {
    width: 100%;
    @include flex-setting(column, center, flex-start);

    position: relative;

    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    border: 3px solid #fff;
    border-collapse: collapse;
    border-bottom: none;

    &:hover > .nav-submenu,
    &:active > .nav-submenu {
      transform: rotateX(0deg);
      visibility: visible;
      opacity: 1;
      @include flex-setting(column, flex-start, center);
      margin-bottom: -0.625rem;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: #fff;
      transition: 0.1s ease-in;

      .nav-list__pic {
        transform: rotate(180deg) scale(1.5);
        transition: 0.1s ease-in;
      }
    }

    &:last-child {
      border-bottom: 3px solid #fff;
    }
  }

  &__pic {
    position: absolute;
    right: 1.625rem;
    top: 1.25rem;
    transform: scale(1.5);
    transition: 0.1s ease-in;
  }

  &__link {
    @include font-setting($secondary-font, 1.25rem, 1, 400, $text-primary);

    text-transform: uppercase;
    text-decoration: none;

    position: relative;

    padding-left: 2.5rem;

    cursor: pointer;
    outline: none;
  }
}

@media only screen and (min-width: 1024px) {
  .nav-list {
    flex-direction: row;
    position: relative;
    top: auto;
    left: auto;

    min-height: auto;

    padding-top: 0;
    padding-bottom: 0;

    background-color: transparent;

    width: auto;

    &__item {
      width: auto;
      margin-right: 2.125rem;

      padding-top: 0;
      padding-bottom: 0;

      position: relative;

      border: none;

      &:last-of-type {
        margin-right: 0;
      }

      &:hover > .nav-submenu,
      &:active > .nav-submenu {
        transform: rotateX(0deg);
        visibility: visible;
        opacity: 1;

        margin: 0;
        display: block;
      }

      &:hover,
      &:active,
      &:focus {
        background-color: transparent;
        transition: 0.1s ease-in;

        .nav-list__link {
          color: #1CB6EA;
          transition: 0.1s ease-in;
          background-color: transparent;
        }
      }

      &:last-child {
        border-bottom: none;
      }
    }

    &__link {
      color: $text-secondary;
      padding: 0;
    }

    &__pic {
      display: none;
    }
  }
}
