.news-list {
  @include flex-setting(row, space-between, flex-start);
  list-style: none;
  margin: 0;
  padding: 0;

  width: 100%;

  margin-bottom: 1.25rem;

  position: relative;

  .slick-list div {
    @include flex-setting(row, center, center);
  }

  .news-prev,
  .news-next {
    position: absolute;

    width: 6px;
    height: 12px;

    cursor: pointer;
    outline: none;

    opacity: 0.7;

    z-index: 10;

    &:hover,
    &:active,
    &:focus {
      opacity: 1;
    }
  }

  .news-prev {
    background-image: url('../img/arr-left-blue.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    top: 50%;
    transform: translateY(-50%);
    left: -10px;
  }

  .news-next {
    background-image: url('../img/arr-right-blue.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    top: 50%;
    transform: translateY(-50%);
    right: -10px;
  }

  &__item {
    @include flex-setting(column, flex-start, center);
    display: flex !important;

    width: 100%;

    padding-bottom: 1.25rem;

    box-shadow: 0px 0px 6px rgba(204, 204, 204, 0.499292);
    background-color: #fff;

    &-frame {
      max-height: 200px;
      min-height: 200px;
    }

    &-pic {
      max-height: 200px;
      min-height: 200px;
      object-fit: cover;
    }

    &:hover {
      box-shadow: 0 0 10px rgba(204, 204, 204, 0.5);
      transition: 0.1s ease-in;
    }

    &-icon {
      margin-right: 0.375rem;
    }
  }

  &__info {
    width: 100%;

    @include flex-setting(row, space-between, center);

    padding-left: 1rem;
    padding-top: 0.813rem;
    padding-right: 1rem;

    margin-bottom: 0.688rem;

    &-type {
      @include flex-setting(row, space-between, center);
      @include font-setting($secondary-font, 0.688rem, 1, 400, rgba(4, 25, 32, 0.5));
    }
  }

  &__description {
    @include font-setting($primary-font, 0.75rem, 1rem, 400, $text-dark);
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    margin-top: 0;
    margin-bottom: 16px;

    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__link {
    @include font-setting($secondary-font, 0.75rem, 1, 400, $coop-link);
    @include flex-setting(column, center, center);
    text-decoration: none;

    width: 96px;
    height: 25px;
    border: 1px solid #1CB6EA;

    border-radius: 15px;

    &:hover {
      background-color: $coop-link;
      color: #fff;
      transition: 0.1s ease-in;
    }
  }
}

@media only screen and (min-width: 360px) {
  .news-list {
    margin-bottom: 1.625rem;

    &__info {
      padding-top: 0.875rem;
      margin-bottom: 0.75rem;

      &-type {
        font-size: 0.75rem;
      }
    }

    &__description {
      font-size: 0.875rem;
      margin-bottom: 1.25rem;
    }

    &__link {
      font-size: 0.875rem;

      width: 116px;
      height: 32px;

      border-radius: 20px;
    }
  }
}

@media only screen and (min-width: 414px) {
  .news-list {
    margin-bottom: 1.625rem;

    .news-next,
    .news-prev {
      width: 10px;
      height: 18px;
    }

    &__item {
      max-width: 340px;
      margin-left: 1rem;
      margin-right: 1rem;
    }

    &__info {
      padding-top: 0.875rem;
      margin-bottom: 0.75rem;

      &-type {
        font-size: 0.75rem;
      }
    }

    &__description {
      font-size: 0.875rem;
      margin-bottom: 1.25rem;
    }

    &__link {
      font-size: 0.875rem;

      width: 116px;
      height: 32px;

      border-radius: 20px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .news-list {
    margin-bottom: 2.5rem;

    &__item {
      max-width: 220px;
      margin-left: 0;
      margin-right: 0;

      &-icon {
        display: inline-flex;
        transform: scale(0.7);
        margin-right: 0;
      }

      &-frame {
        max-height: 124px;
        min-height: 124px;
      }
    }

    &__info {
      padding-top: 0.5rem;
      margin-bottom: 0.75rem;
      padding-left: 0.625rem;
      padding-right: 0.625rem;

      &-type {
        font-size: 0.5rem;
      }
    }

    &__description {
      font-size: 0.625rem;
      line-height: 1rem;

      margin-bottom: 1.25rem;
      padding-left: 0.625rem;
      padding-right: 0.625rem;

      max-height: 75px;
      overflow-y: scroll;
    }

    &__link {
      border: none;
      width: auto;
      height: auto;

      text-decoration: none;
      align-self: flex-start;
      margin-left: 0.625rem;

      font-size: 0.75rem;

      &:hover {
        color: #1CB6EA;
        background-color: transparent;
        border: none;
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .news-list {
    margin-bottom: 1.875rem;

    &__item {
      width: 280px;
      max-width: 100%;

      padding-bottom: 1.125rem;

      box-shadow: 0px 0px 5px rgba(153, 153, 153, 0.15);

      &-frame {
        max-height: 208px;
        min-height: 208px;
      }

      &-pic {
        max-height: 208px;
        min-height: 208px;
        object-fit: cover;
      }

      &-icon {
        transform: scale(0.8);
        margin-right: 0.25rem;
      }
    }

    &__info {
      padding-left: 1.25rem;
      padding-top: 0.75rem;
      padding-right: 1.25rem;

      margin-bottom: 0.625rem;

      &-type {
        font-size: 0.688rem;
      }
    }

    &__description {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      font-size: 0.75rem;
      line-height: 1.125rem;
      max-height: 80px;
      overflow-y: visible;
    }

    &__link {
      font-size: 0.913rem;
      color: rgba(4, 25, 32, 0.499066);
      border: none;
      width: auto;
      height: auto;

      text-decoration: none;
      align-self: flex-start;

      margin-left: 1.25rem;

      &:hover {
        background-color: transparent;
        color: $coop-link;
        transition: 0.2s ease-in;
      }
    }
  }
}
