.subscribe-form {
  @include flex-setting(row, flex-start, flex-end);

  width: 100%;

  &__item {
    margin: 0;
    @include flex-setting(column, flex-start, flex-start);
  }

  &__label {
    @include font-setting($secondary-font, 0.75rem, 1, 400, #fff);
    margin-bottom: 0.5rem;
  }

  &__input {
    @include font-setting($secondary-font, 0.75rem, 1, 400, #fff);

    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.06);

    height: 24px;
    width: 144px;

    padding-left: 0.313rem;
    padding-right: 0.313rem;

    margin-right: 1rem;

    cursor: text;
    outline: none;
  }

  &__submit {
    @include flex-setting(column, center, center);
    @include font-setting($secondary-font, 0.75rem, 1, 400, #fff);

    border: 1px solid #FFFFFF;
    background-color: #1CB6EA;
    border-radius: 4px;

    width: 112px;
    height: 24px;

    cursor: pointer;
    outline: none;
  }
}

@media only screen and (min-width: 1024px) {
  .subscribe-form {
    &__label {
      margin-bottom: 0.625rem;
    }

    &__input {
      height: 28px;
      width: 180px;

      padding-left: 0.25rem;
      padding-right: 0.25rem;

      margin-right: 1.5rem;
    }

    &__submit {
      width: 120px;
      height: 28px;
    }
  }
}
