$mobile: 375px;
$hdm: 414px;
$tablet: 768px;
$laptop: 1024px;
$laptop-hd: 1280px;
$laptop-wide: 1366px;
$widebook-sm: 1440px;
$widebook-hd: 1600px;
$hd: 1920px;

$text-primary: #000000;
$text-secondary: #ffffff;
$text-form: #8edce0;
$text-error: #f44336;

$social-hover: #ff6700;

$bg-body: #cacaca;
$bg-header: #ff6700;
$bg-footer: #19181c;

$primary-font: "Gotham Ultra", sans-serif;
$secondary-font: "Gotham Black", sans-serif;
$alternate-font: "Rubik-Light", sans-serif;
$primary-font-italic: "Rubik-Black Italic", sans-serif;

$base-font-color: #000;
$base-font-size: 16px;
$base-font-weight: normal;

$baseFontColor: $text-primary;
$baseFontFamily: $primary-font;
