$mobile: 375px;
$hdm: 414px;
$tablet: 768px;
$laptop: 1024px;
$laptop-wide: 1220px;
$widebook-sm: 1440px;
$widebook-hd: 1600px;
$hd: 1920px;

$text-primary: #000000;
$text-dark: #041920;
$text-secondary: #ffffff;
$text-form: #8edce0;
$text-error: #f44336;
$coop-link: #1cb6ea;

$hover-color: #1cb6ea;

$social-hover: #ff6700;

$bg-body: #cacaca;
$bg-header: #ff6700;
$bg-footer: #19181c;

$primary-font: "Roboto", sans-serif;
$secondary-font: "Roboto Condensed", sans-serif;

$base-font-color: #000;
$base-font-size: 16px;
$base-font-weight: normal;

$baseFontColor: $text-primary;
$baseFontFamily: $primary-font;
