.address-info {
  @include flex-setting(column, flex-start, center);

  &__list {
    width: 100%;

    margin: 0;
    padding: 0;
    list-style: none;

    @include flex-setting(column, flex-start, center);

    margin-bottom: 2.5rem;
  }

  &__item {
    width: 100%;

    @include flex-setting(column, flex-start, flex-start);

    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }

    &-title {
      @include font-setting($secondary-font, 0.875rem, 1, 700, $text-dark);
      text-transform: uppercase;

      margin-bottom: 0.625rem;
    }

    &-description {
      @include font-setting($primary-font, 0.813rem, 1.4, 400, $text-dark);
      margin: 0;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .address-info {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    &__list {
      width: 50%;
      max-width: 280px;

      margin-bottom: 0;
    }

    &__item {
      margin-bottom: 1.5rem;

      &:last-child {
        margin-bottom: 0;
      }

      &-title {
        font-size: 1rem;
        margin-bottom: 1.625rem;
      }

      &-description {
        font-size: 0.875rem;
        line-height: 1.5rem;
      }
    }

    &__map {
      width: 50%;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .address-info {

    &__list {
      max-width: 380px;
    }

    &__item {
      margin-bottom: 1.875rem;

      &:last-child {
        margin-bottom: 0;
      }

      &-description {
        font-size: 0.938rem;
        margin-bottom: 1.25rem;
      }
    }
  }
}
