.categories {
  width: 100%;

  @include flex-setting(row, space-between, flex-start);

  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  padding-left: 2.5rem;
  padding-right: 1.5rem;

  max-height: 190px;

  &__item {
    width: 50%;

    margin-bottom: 0.625rem;

    &-text {
      @include font-setting($secondary-font, 0.875rem, 1, 700, $text-primary);
      text-transform: uppercase;
    }
  }
}

@media only screen and (min-width: 768px) {
  .categories {
    width: 100%;

    @include flex-setting(row, space-between, flex-start);

    flex-wrap: wrap;

    margin: 0 auto;
    padding: 0;

    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
    padding-left: 0;
    padding-right: 0;

    max-width: 660px;

    max-height: 190px;

    &__item {
      width: 25%;

      margin-bottom: 1.25rem;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .categories {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;

    max-width: 870px;

    max-height: 190px;

    &__item {
      width: 25%;

      margin-bottom: 1.25rem;

      &-text {
        font-size: 1.125rem;
      }
    }
  }
}
