.ability-list {
  width: 100%;

  @include flex-setting(column, flex-start, center);

  padding-left: 1.5rem;
  padding-right: 1.5rem;

  margin-bottom: 3.125rem;

  &__item {
    width: 220px;
    height: 98px;
    @include flex-setting(column, center, center);
    background-color: #FFFFFF;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item.tabItem--active {
    .ability-list__link {
      color: #00BFFF;
    }
  }

  &__link {
    width: 100%;
    height: 100%;

    @include flex-setting(column, center, center);
    @include font-setting($secondary-font, 1.125rem, 1.3, 700, $text-dark);

    text-decoration: none;
    text-align: center;
    text-transform: uppercase;

    cursor: pointer;
    outline: none;

    transition: 0.1s ease-in;

    &:hover,
    &:active,
    &:focus {
      color: #00BFFF;
      transition: 0.1s ease-in;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .ability-list {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    max-width: 780px;

    padding-left: 0;
    padding-right: 0;

    margin-bottom: 3.125rem;

    &__item {
      height: 122px;
      margin-bottom: 0rem;
    }

    &__link {
      font-size: 1.5rem;
    }
  }
}
