.comm {
  width: 100%;

  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @include flex-setting(column, flex-start, flex-start);

  margin-bottom: 3.5rem;

  &__title {
    @include font-setting($secondary-font, 0.875rem, 1.3, 700, $text-dark);
    margin-bottom: 0.625rem;

    text-transform: uppercase;
  }

  &__note {
    @include font-setting($primary-font, 0.75rem, 1.3, 400, #000);
    text-align: left;

    margin-bottom: 0.875rem;
  }
}


@media only screen and (min-width: 360px) {
  .comm {
    &__title {
      font-size: 1rem;
      margin-bottom: 1.25rem;
    }

    &__note {
      font-size: 0.875rem;
      margin-bottom: 1.25rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  .comm {
    max-width: 688px;
    padding-left: 0;
    padding-right: 0;

    @include flex-setting(column, flex-start, center);

    margin-bottom: 3.375rem;

    &__title {
      font-size: 1.125rem;
      align-self: flex-start;
    }

    &__note {
      font-size: 0.813rem;
      padding-left: 0;

      margin-bottom: 1.25rem;
      align-self: flex-start;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .comm {
    max-width: 980px;
    margin-bottom: 3.5rem;

    &__title {
      font-size: 1.5rem;
    }

    &__note {
      font-size: 1rem;
    }
  }
}
