.posted {
  width: 100%;

  @include flex-setting(column, flex-start, flex-start);

  &__controls {
    @include flex-setting(row, flex-start, center);

    width: 100%;

    &-more {
      @include font-setting($primary-font, 0.75rem, 1, 700, #1CB6EA);

      background-color: transparent;
      border: none;

      padding: 0;
      cursor: pointer;
      outline: none;

    }

    &-sort {
      @include font-setting($primary-font, 0.75rem, 1, 400, $text-dark);

      background-color: transparent;
      border: none;

      padding: 0;

      cursor: pointer;
      outline: none;

      &--order {
        margin-left: auto;
        margin-right: 0.625rem;
      }

      &.active {
        font-weight: 700;
        color: #1CB6EA;

        transition: 0.1s ease-in;
      }

      &:hover,
      &:active,
      &:focus {
        font-weight: 700;
        color: #1CB6EA;

        transition: 0.1s ease-in;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .posted {
    max-width: 820px;
    margin-bottom: 8.75rem;

    &__controls {
      @include flex-setting(row, flex-start, center);

      width: 100%;

      &-more {
        font-size: 1rem;
      }

      &-sort {
        font-size: 1rem;

        &--order {
          margin-right: 1.25rem;
        }
      }
    }
  }
}
