.posted-list {
  width: 100%;

  @include flex-setting(column, flex-start, center);

  margin: 0;
  padding: 0;
  list-style: none;

  margin-bottom: 0.625rem;

  &__item {
    background-color: #F8F8F8;
    border-radius: 4px;

    padding: 1rem 1rem;

    &-name {
      display: inline-flex;
      @include font-setting($secondary-font, 0.875rem, 1.3, 700, $text-dark);
      margin-bottom: 0.625rem;
      text-transform: uppercase;
    }

    &-text {
      @include font-setting($primary-font, 0.875rem, 1.3, 300, $text-dark);
      margin: 0;
    }
  }
}

@media only screen and (min-width: 360px) {
  .posted-list {
    margin-bottom: 1.125rem;

    &__item {
      &-name {
        font-size: 1rem;
        margin-bottom: 1.25rem;
      }
    }
  }

}

@media only screen and (min-width: 768px) {
  .posted-list {
    margin-bottom: 1.25rem;

    &__item {
      padding: 1.375rem 1.75rem;

      &-name {
        margin-bottom: 1rem;
        font-size: 0.813rem;
      }

      &-text {
        font-size: 0.813rem;
        line-height: 1.5rem;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .posted-list {
    margin-bottom: 1.25rem;

    &__item {
      padding: 2.25rem 5rem;

      &-name {
        margin-bottom: 0.875rem;
      }
    }
  }
}
