.blog {
  width: 100%;

  @include flex-setting(column, flex-start, center);

  padding-bottom: 3rem;
}

@media only screen and (min-width: 360px) {
  .blog {
    padding-bottom: 3.25rem;
  }
}

@media only screen and (min-width: 768px) {
  .blog {
    padding-bottom: 4.375rem;
    width: 100%;

    max-width: 688px;
    transition: 0.1s ease-in;
  }
}

@media only screen and (min-width: 1024px) {
  .blog {
    padding-bottom: 9.375rem;
    max-width: 960px;
  }
}
