.presskit-list {
  width: 100%;

  @include flex-setting(column, flex-start, center);

  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    padding: 0 1.25rem 0.625rem 1.25rem;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.15);
    
    height: 320px;
    max-width: 300px;

    margin-bottom: 1.875rem;

    &-frame {
      min-height: 131px;
      max-height: 131px;
      width: 100%;

      @include flex-setting(column, center, center);
    }

    &-logo {
      max-width: 220px;
      max-height: 55px;

      &.small {
        max-width: 120px;
      }

      &.med {
        max-height: 80px;
      }
    }

    &-description {
      @include font-setting($primary-font, 0.75rem, 1.25rem, 400, $text-primary);
      margin: 0;
    }
  }

  &__footer {
    width: 100%;

    @include flex-setting(row, flex-start, center);

    margin-bottom: 0;
    margin-top: auto;

    &-icon {
      width: 25px;
      height: 25px;

      margin-right: 1rem;
    }

    &-link {
      @include font-setting($primary-font, 0.875rem, 1.25rem, 400, #1CB6EA);
      margin-right: 0.875rem;

    }
  }
}


@media only screen and (min-width: 768px) {
  .presskit-list {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
