.distribution-team {
  width: 100%;

  @include flex-setting(column, flex-start, center);

  padding-left: 1.5rem;
  padding-right: 1.5rem;

  margin-bottom: 2.375rem;

  &__title {
    @include font-setting($secondary-font, 0.875rem, 1, 700, $text-dark);

    text-transform: uppercase;
    align-self: flex-start;
  }

  &__list {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    @include flex-setting(column, flex-start, flex-start);
    width: 100%;

    background: #FFFFFF;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    margin-bottom: 1.25rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__photo {
    width: 100%;
    min-height: 270px;
    max-height: 273px;

    object-fit: cover;
  }
}

@media only screen and (min-width: 360px) {
  .distribution-team {
    margin-bottom: 2.875rem;

    &__title {
      font-size: 1.25rem;
    }

    &__item {
      margin-bottom: 1.875rem;

      max-width: 366px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__photo {
      min-height: 100%;
      max-height: 100%;

      object-fit: contain;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .distribution-team {
    padding-left: 0;
    padding-right: 0;
    padding-top: 2.25rem;
    padding-bottom: 4rem;

    background-color: rgba(163, 225, 246, 0.4);

    margin-bottom: 2.375rem;

    &__title {
      @include flex-setting(row, flex-start, center);
      width: 100%;
      max-width: 980px;
      font-size: 1.5rem;
      align-self: center;

      margin-bottom: 3.25rem;
    }

    &__list {
      max-width: 820px;

      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    &__item {
      max-width: 339px;
      height: 520px;

      margin-bottom: 3.75rem;

      &:last-child,
      &:nth-child(3) {
        margin-bottom: 0;
      }
    }

    &__photo {
      min-height: 340px;
      max-height: 350px;
    }
  }
}
