.animation {
  width: 100%;

  @include flex-setting(column, flex-start, center);

  padding-left: 1.5rem;
  padding-right: 1.5rem;
}


@media only screen and (min-width: 768px) {
  .animation {
    width: 100%;
    max-width: 688px;

    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .animation {
    max-width: 980px;
  }
}
